@media only screen and (max-width: 480px) {
    .text {
    position: relative;
    bottom: 0px;
}
footer {
    position: relative;
    top: -300px;
}
    .app {
        display: block;
        margin-left: auto;
        margin-right: auto;
}
    .pabout {
        visibility: hidden;
    }
    .paboutm {
        visibility: visible;
        position: relative;
        top: -550px;
        font-size: 18px;
    }
    .cra {
        visibility: visible;
        position: relative;
        top: -570px;
        font-size: 16px;
        color: #41b347;
    }
    body, html {
        margin: 0;
        padding: 0;
        overflow: auto;
    }
    .githuba {
        visibility: visible;
        position: relative;
        top: -570px;
        font-size: 18px;
    }
    .beep {
        position: relative;
        top: -55px;
        font-size: 30px;
    }
    .err {
        top: -55px;
        font-size: 80px;
    }
    .pa {
        visibility: hidden;
    }
    .pam {
        visibility: visible;
        position: relative;
        top: -90px;
        color: yellow;
        font-size: 23px;
    }
    .ev3robot {
        left: -175px;
    }
    .cr {
        font-size: 16px;
    }
    .github {
        font-size: 18px;
    }
    .gsa {
        position: relative;
        left: -48px;
        top: -4px;
    }
    .logo {
        position: relative;
        left: -108px;
        width: 60px;
        top: -6px;
    }

    header {
        padding: 5px 10%;
        background-color: #24252a;
    }
    .overlaya {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        z-index: 9999;
        animation: slideIn 1s ease forwards, slideOut 1s ease forwards 2.5s;
    }

    .cover {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        z-index: 9998;
    }

    .logoa {
        visibility: visible;
        position: fixed;
        top: -550px;
        left: 50%;
        transform: translateX(-50%);
        animation: bounce 1s ease forwards 1s, disappear 0.5s ease forwards 2s;
        z-index: 10000;
    }

    @keyframes slideIn {
        0% {
            transform: translateY(100%);
        }
        100% {
            transform: translateY(0);
        }
    }

    @keyframes slideOut {
        0% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(100%);
        }
    }

    @keyframes bounce {
        0% {
            top: -100px;
        }
        50% {
            top: 45%;
        }
        100% {
            top: 35%;
        }
    }
    @keyframes disappear {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
}

